* {
  font-family: "arial", "Helvetica", sans-serif;
}
h2,
h4 {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: #3b252c;
  margin-top: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.example-1 {
  margin-top: 50px;
}
.slider-container {
  position: relative;
}
/* 
.slider-selected-scale {
  background-color: orange;
} */
.slider {
  position: relative;
  user-select: none;
  margin-top: 10px;
}

/* .slider-scale {
  background-color: red;
} */

.slider-thumb {
  position: absolute;
  background-color: gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -8px;
  touch-action: none;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transition: 0.3s;
  z-index: 999;
}

.slider-thumb:active {
  cursor: grabbing !important;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider-thumb:hover {
  width: 25px;
  height: 25px;
}

.slider-thumb-min {
  background-color: #aea4bf;
}

.slider-thumb-max {
  background-color: #8f6593;
}

.slot {
  text-align: center;
  display: inline-block;
  height: 20px;
  background-color: none;
}

.fixed-slot {
  width: 10px;
}

.classic-slot {
  width: 1%;
}

.scale-mark {
  position: absolute;
  border: 0.5px solid lightgray;
  height: 10px;
}

.slot-scale {
  text-align: center;
  display: inline-block;
  width: 10px;
  height: 20px;
  color: lightgray;
  user-select: none;
}

.slot > .slider-thumb {
  top: 3px;
}

.line {
  position: absolute;
  background-color: lightgray;
  height: 2px;
  width: 10px;
  top: 12px;
}

.line-selected {
  height: 4px;
  background-color: #191919;
}
/* 
.line-container {
  display: flex;
  flex-direction: row;
} */

/* .thumb {
  background-color: gray;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: -8px;
  touch-action: none;
} */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.editable-box {
  font-family: "Roboto Mono", monospace;
  color: #3b252c;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 30px;
  color: pink;
}

input {
  font-family: "Roboto Mono", monospace;
  color: #3b252c;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 150px;
}

input:invalid {
  background-color: red;
}

.switch {
  width: 38px;
  border-radius: 11px;
}

/* The toggle knob */
.switch::after {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: var(--ab, var(--border));
  transform: translateX(var(--x, 0));
}

/* Change color and position when checked */
.switch:checked {
  --ab: var(--active-inner);
  --x: 17px;
}

/* Drop the opacity of the toggle knob when the input is disabled */
.switch:disabled:not(:checked)::after {
  opacity: 0.6;
}

button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #aea4bf;
  font-family: "arial", "Helvetica", sans-serif;
}

button:hover {
  background-color: #ffffff;
}
